# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dossiers et fichiers de dépendances
node_modules/
venv/
__pycache__/
*.py[cod]
*$py.class

# Fichiers de build
/build
/dist
/*.log

# Fichiers d'IDE et éditeurs
.idea/
.vscode/
*.swp
*.swo
.cursor/

# Autres
.cache/
coverage/
.nyc_output/ 